"bin/" 
"obj/" 
"node_modules/" 
".env" 
"appsettings.json" 
"SuppliersDB/"   # Exclude your database directorygit add .
".vs/" 
SuppliersDB/
.vs
.bin/
obg/
*.suo
*.user
"SuppliersDB/" 
".vs/" 
"bin/" 
"obj/" 
"*.suo" 
"*.user" 
"SuppliersDB/" 
".vs/" 
"bin/" 
"obj/" 
"*.suo" 
"*.user" 
